.App {
  background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2012/12/20/25978/48c2add2aab78187ca44aa4c9b55607a.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

.game_title {
  padding-top: 15px;
  padding-bottom: 5px;
}

.coreButtons {
  text-align: center;
}

.coreButtons button {
  display: inline-flex;
  text-align: center;
  width: 300px;
  height: 100px;
  font-size: 30px;
  border-radius: 50%;
  align-content: center;
}

.money_button {
  width: 210px;
  height: 70px;
  margin-left: 100px;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .05s;
  animation-duration: .05s;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.start_button img {
  width: 210px;
  height: 70px;
  margin-right: 100px;
}

h1 {
  color: #ff004d;
  text-align: center;
  font-family: 'Monoton', cursive;
  /* font-family: 'Press Start 2P', cursive; */
  font-size: 40px;
  margin: 0px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

p {
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.middleMessage {
  text-align: center;
  font-size: 30px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.coreButtons p {
  color: red;
}

.coreButtons button {
  height: 70px;
  width: 210px;
  background-image: linear-gradient(grey, white);
  text-align: justify;
  margin-right: 10px;
}

button {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 170px;
  font-size: 18px;
  margin: 5px;
  color: blue;
  text-align: center;
  border-radius: 40%;
  outline: none;
}

button img {
  opacity: 1;
  width: 110px;
}

button p {
  margin: 0px;
  font-family: 'Iceland', cursive;
  color: white;
}

.allDiv {
  display: block;
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 30px;

}

.economyDiv {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* border: 5px solid blue; */
  border-bottom: 5px solid #6b87d4;
  border-top: 5px solid #eff362;
  border-radius: 10%;
  max-height: 20%;
}

.habitatDiv {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* border: 5px solid green; */
  border-bottom: 5px solid #2be1a5;
  border-radius: 15%;
}

.militaryDiv {
  display: flex;
  flex-direction: row;
  text-align: left;
  border-bottom: 5px solid #f44040;
  /* border: 5px solid red; */
  border-radius: 15%;
}

.econBuildingsStats {
  padding: 5px;
  font-size: 13px;
}

.habitatBuildingsStats {
  padding: 5px;
  font-size: 13px;
}

.militaryUnitsStats {
  padding: 5px;
  font-size: 13px;
}

.econBuildingsTabs button {
  color: #6b87d4;
  background-image: linear-gradient(#6b87d4, #014351);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 2px solid #6b87d4;
}

.econBuildingsTabs button:active {
  color: #6b87d4;
  background-image: linear-gradient(#6b87d4, #014351);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 2px solid #6b87d4;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .05s;
  animation-duration: .05s;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.habitatBuildingsTabs button {
  color: #2be1a5;
  background-image: linear-gradient(#2fff00, #088da5);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 3px solid #2fff00;
}

.habitatBuildingsTabs button:active{
  color: #2be1a5;
  background-image: linear-gradient(#2fff00, #088da5);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 3px solid #2fff00;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .05s;
  animation-duration: .05s;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
    transition-timing-function: cubic-bezier(0.01, 0.03, 0.05, 0.1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.militaryUnitsTabs button {
  color: #f44040;
  background-image: linear-gradient(#f44040, black);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 2px solid #f44040;
}

.militaryUnitsTabs button:active {
  color: #f44040;
  background-image: linear-gradient(#f44040, black);
  font-size: 15px;
  box-shadow: 3px 3px 5px black;
  bordeR: 2px solid #f44040;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .05s;
  animation-duration: .05s;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.125, 0.200, 0.300, 0.5);
    transition-timing-function: cubic-bezier(0.125, 0.200, 0.300, 0.5);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.125, 0.200, 0.300, 0.5);
    transition-timing-function: cubic-bezier(0.125, 0.200, 0.300, 0.5);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.econBuildingsTabs {
  display: inline-flex;
  border-right: 5px solid #6b87d4;
  margin-top: 5px;
}

.habitatBuildingsTabs {
  display: inline-flex;
  border-right: 5px solid #2be1a5;
}

.militaryUnitsTabs {
  display: inline-flex;
  position: relative;
  border-right: 5px solid #f44040;
}

.coreStats {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  border-bottom: 5px solid #eff362;
  border-top: 5px solid #eff362;
  border-radius: 10%;
  margin: 10px;
}

.coreButtons {
  align-self: center;
}

.buildingStats {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
